@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table width="100%">

    <tr>
        <td>
            <h1> Welcome to Ware House Management System</h1>
        </td>
        <td><img class="imgb" src="~/Asset 1.png"width="500px"></td>
    </tr>
</table>

<style>
    h1 {
        color: #2b466b;
    }


</style>


