@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="block_container">

    <div id="bloc1">
        <h4>Welcome to Ware House <br> Management System</h4> 
    </div>
    <div id="bloc2"><img class="imgb" src="~/header.png"></div>

</div>

<style>
    #block_container {
        text-align: center;
    }
    
    #bloc1, #bloc2 {
        display: inline;
    }
    .imgb{
        width:30%;
        height:30;
    }
</style>

