@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table width="100%">

    <tr>
        <td>
            <h1> Welcome to Ware House Management System</h1>
        </td>
        <td><img class="imgb" src="~/Asset 1.png"width="500px"></td>
    </tr>
  
</table>

<table  width="100%" align="center">

    <tr>
        
        <td>
            <center>
                <h5>Number of Products</h5>
                @Model.ProductCount
            </center>


        </td>
        <td>
            <center>
                <h5>Number of Items</h5>
                @Model.ItemCount

            </center>

        </td>
        <td>
            <center>
                <h5>Number of WareHouses</h5>
                @Model.WarehouseCount
            </center>

        </td>



    </tr>
</table>

<style>
    h1 {
        color: #2b466b;
    }

    h5 {
        background-color: #2b466b;
        color:white;
        font-weight:bold;
    }
    td{
        font-weight:bold
    }
</style>


