@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table width="100%">

    <tr>
        <td>
            <h1> Welcome to Ware House Management System</h1>
        </td>
        <td><img class="imgb" src="~/header.png"width="600px"></td>
    </tr>
</table>


